# Fichiers d’environnement (ex: mots de passe)
.env
.env.local

data/
/data/
/certificates/
/.env

# Certificats
*.key
*.pem

# Logs
*.log
logs/

# Dossiers de cache
.cache/
cache/

# Docker volumes et sauvegardes
volumes/
backups/

#Wazuh
wazuh/config/wazuh_indexer_ssl_certs/*.pem
wazuh/config/wazuh_indexer_ssl_certs/*.key
